<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Team Bloomberg</title>

    <!-- JS -->

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" /></script>

    <script src="{{ url_for('static', filename='js/story.js') }}"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">


</head>

  <body id="main">
    <!--<div id="for_testing"></div>-->
{% include "header.html" %}
 <div id="page_title">
    <div class="row">
      <div id="heading" class="col-lg-7 col-sm-11">
    How do we know that Magic8Ball is a successful design?
  </div>
  <div class="col-6">
</div>
</div>
  </div>

<!-- section1 -->
     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h4> OVERVIEW </h4>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                        The need for Magic8ball emerged from three months of research with Bloomberg during our Spring semester. Based on the problems that we identified, creating a web app to help both Bloomberg and candidates with disabilities handle accommodation requests was important. Candidates with disabilities were not always sure if they should disclose, and recruiters an recruiting coordinators did not always know how to best handle an accommodation request. 
                         <br/><br/>


						However, how could we ensure that whatever we built would successfully address these problems? Our team used further research to both create a framework for measurement and test whether or not we were achieveing the results we wanted. <br/> <br/>

						                        </div>
                    </div>
            </div>
        </div>
     </div>


<!-- checklist boxes -->
<div id="sub-section" class = "checklist">
 	<div class="row">
 		<h4> KEY EVALUATION METRICS </h4>
 	</div>

 	 	<div class="row">
 		Ultimately, our team decision to measure the success of our designs using the following criteria for each group. <br/><br/>

 		</div>
 		<div class="row">

         <div class="col-md-6 col-sm-12">
         	<b>Candidates with Disabilities</b><br/><br/>
         	<input type="checkbox" checked> Understand <br/> Do I understand what is required for this stage of the interview? <br> <br/>
			<input type="checkbox" checked> Evaluate <br/> Can I identify what I might need in terms of accommodation for this stage of the interview? <br> <br/>
			<input type="checkbox" checked> Confidence <br/> Do I feel confident enough to request an accommodation? <br> <br/>
         </div>

         <div class="col-md-6 col-sm-12">
         	<b>Bloomberg Recruiting Coordinators</b><br/><br/>
         	<input type="checkbox" checked> Efficiency <br/> How easy is it for me to implement this accommodation request? <br> <br/>
			<input type="checkbox" checked> Confidence <br/> Do I have the information I need to handle this accommodation? <br> <br/> <br>
         </div>

    </div>
</div>
	


<!-- section2 -->
     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h4> SUCCESS FOR CANDIDATES WITH DISABILITIES </h4>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                        The pain point emerged from our research, that candidates don't always know if they need to disclose their disability. In order to understand how we could address this, we conduct several co-design sessions with people with disabilities. In one of these sessions, a participant shared a mental model that has served us well for evaluating our prototype. They focus on the following steps when trying to understand if they should request an accommodation: 
                    </div>
                </div>

			<div class='ui'>
 				<div class="row">


					<div class="col-lg-3 col-sm-3 animatable fadeInDown animationDelay">

					  <div class='ui_box_2'>
					    <div class='ui_box__inner2'>
					        <span> Understand </span><br/>
					        What is expected of me?
						</div>
						</div>
					</div>

					  <div class="col-lg-1 col-sm-1" id="icon-text">


                        	<img id="bb-icons" src="{{ url_for('static', filename='assets/images/rightarrow.png') }}" alt="Placeholder image"/>
                        </div>



					<div class="col-lg-3 col-sm-3 animatable fadeInDown animationDelayMed">
					<div class='ui_box_2'>
					    <div class='ui_box__inner2'>
					        <span> Evaluate</span><br/>
					        For what might I need an accommodation?
						</div>
						</div>
					</div>

					  <div class="col-lg-1 col-sm-1" id="icon-text">

                        	<img id="bb-icons" src="{{ url_for('static', filename='assets/images/rightarrow.png') }}" alt="Placeholder image"/>
                        </div>
 
					<div class="col-lg-3 col-sm-3 animatable fadeInDown animationDelayLong">
					<div class='ui_box_2'>
					    <div class='ui_box__inner2'>
					        <span> Request</span><br/>
					        How can I easily ask for an accommodation?
						</div>
						</div>
					</div>
			       </div>
			     </div>

			     <div class="row">
                        <div class="col-lg-12 col-sm-12">
                        The p trying to understand if they should request an accommodation: 
                    </div>
                </div>

			<div class='ui'>
 				<div class="row">


					<div class="col-lg-3 col-sm-3 animatable fadeInDown animationDelay">

					  <div class='ui_box_2'>
					    <div class='ui_box__inner2'>
					        <span> Education </span><br/>
					        What will you be asked to do at this interview?
						</div>
						</div>
					</div>

					  <div class="col-lg-1 col-sm-1" id="icon-text">


                        	<img id="bb-icons" src="{{ url_for('static', filename='assets/images/rightarrow.png') }}" alt="Placeholder image"/>
                        </div>



					<div class="col-lg-3 col-sm-3 animatable fadeInDown animationDelayMed">
					<div class='ui_box_2'>
					    <div class='ui_box__inner2'>
					        <span> Evaluation</span><br/>
					        What accommodations might you need based on this information?
						</div>
						</div>
					</div>

					  <div class="col-lg-1 col-sm-1" id="icon-text">

                        	<img id="bb-icons" src="{{ url_for('static', filename='assets/images/rightarrow.png') }}" alt="Placeholder image"/>
                        </div>
 
					<div class="col-lg-3 col-sm-3 animatable fadeInDown animationDelayLong">
					<div class='ui_box_2'>
					    <div class='ui_box__inner2'>
					        <span> Confidence</span><br/>
					        How confident do you feel in requesting this accommodation?
						</div>
						</div>
					</div>
			       </div>
			     </div>





 			</div>




                        </div>
                    </div>
            </div>
        </div>
     </div>


<!-- quote -->

<div id="sub-section">
		     <div class="row">
   
			<div class ="col-lg-12 col-sm12">
		<div class="block animatable fadeInDown animationDelayMed" id="heading2">"If your disability is obvious then no one wants to bring it up. It is a huge elephant in the room. The employer can't ask, but they are wondering if the person can do the job. Meanwhile, the person [with a disability] is scared to bring it up."
"</div>
		</div>
	</div>

	     <div class="col-lg-12 col-sm-12">
                <a class="team_links" href="{{ url_for('home') }}"">We're thrilled to introduce Magic8Ball.</a> <br/>

                The tool that will allow people with and without disabilities to ensure they have exactly what they need during the hiring process! And that benefits both candidates with disabilities and Bloomberg. <br/><br/>
            </div>
          </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
            <h2> For people with disabilities </h2>

                <ol>
                <li>I know what to expect in the hiring process</li>
                <li> I can make smart decisions about what I need ahead of time </li>
                <li> I can confidently and easily request what I need </li>
               </ol>
            </div>

            <div class="col-md-6 col-sm-12">
            <h2> For Bloomberg </h2>

                <ol>
                <li>I receive accommodation requests in advance</li>
                <li> I have help in learning about accommodations</li>
                <li> I have help in implementing any accommodations </li>
               </ol>
            </div>


           </div>    

      <div class="row">

              <div class ="col-md-5 col-sm12">
        <div class="block animatable fadeInDown" id="heading2p5">"This would be such a cool tool to have in a job interview. I am always so hesitant to ask for things but this makes me feel way more confident. It would be so nice to have a company say, we get it, there are things that you need and we are okay with providing them." - PWD</div>
        </div>

          <div class ="col-md-1 col-sm12"></div>

        <div class ="col-md-5 col-sm12">
        <div class="block animatable fadeInDown" id="heading2p5">"I love that this tool helps me provide the best possible candidate experience. Before, I had no idea what to do with these requests, but this makes it seem so much easier, and I love knowing in advance." - Bloomberg Recruiting Coordinator</div>
        </div>



   		</div>









    <!-- Header -->
    <div class="container">



    <!-- Portfolio -->
    <div id="main_page">





    </div><!-- End main page -->
    </div><!-- end container -->
    {% include "footer.html" %}
  </body>
</html>
