<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Team Bloomberg</title>

  <!--JS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" /></script>

    <script src="{{ url_for('static', filename='js/story.js') }}"></script>


  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

  <body id="main">
    <!--<div id="for_testing"></div>-->
{% include "header.html" %}
    <!-- Header -->

 <div id="page_title">
    <div class="row">
      <div id="heading" class="col-lg-7 col-sm-11">
    Magic8ball: A system to help recruiters and candidates with disabilities feel more confident about accommodations.
  </div>
  <div class="col-6">
</div>
</div>
  </div>

<!-- section1 -->
     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h4> THE PROBLEM </h4>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12" id="problem-text">
                        This is the dilemma some candidates with disabilities face. Imagine trying to convince a company to hire you, while simultaneously asking them for a favor. 
                         <br/><br/>


            These "favors" aren't really favors though. They are  accommodations. <span> Accommodations can be anything a person with a disability might need to complete a task. </span> An American Sign Language interpreter might be an accommodation for a Deaf person during an in person meeting. A #2 pencil could be an accomodation for a person who has difficulty typing on a keyboard. <br/><br/>

            <span>The Americans with Disabilities Act requires companies to provide "reasonable" accommodations to candidates during the hiring process.</span> However, asking for an accommodation can be easier said than done, especially because candidates with disabilities feel it could open them up to bias during the hiring process. <br/> <br/>

            This project is a look into the current hiring process for people with disabilities and <span>how to improve the experience of requesting an accommodation, so candidates with disabilities can thrive.</span> 

                                    </div>
                    </div>
            </div>
        </div>
     </div>

              <section class="timeline">
                <ul>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">

                      <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>

                      <time>Marco is an Engineering recruiter. He posts a new role for a college graduate software engineer.</time> Bloomberg


                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">

                      <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>

                      <time>Maria gets a phone interview for the software engineer role! She receives a link to the hiring portal where she can see more information and prepare.</time> Candidate

                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">

                       <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>

                      <time> After the phone interview, Marco hears back and Maria has done well. He updates her status to onsite interview. 
                     </time> Bloomberg 
                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      
                       <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                      
                      <time> Maria can now log into her portal and see information about her onsite. Based on the information there, she can confidently request two accommodations. 
                     </time> Candidate 

                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      
                      <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                      
                      <time> Marco receives Maria’s accommodation requests and is able to quickly and confidently respond to them.
                     </time> Bloomberg

                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                     
                      <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                      
                      <time> Maria gets confirmation from Marco a week before her onsite interview that everything will be in place. 
                     </time> Candidate 


                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                     
                      <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                      
                      <time> It’s one week later! Marco checks that everything is in place and sends Maria a survey for her to complete about her accommodations experience.
                     </time> Bloomberg

                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      
                        <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                      
                      <time> After her onsite interview, Maria goes home and sees the survey, she fills it out and share her accommodations experience.  
                     </time> Candidate


                    </div>
                  </li>
                  <li id="last-child">
                    <div class = "animatable fadeInDown animationDelay">
                    
                      <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                      
                      <time> Maria gets an offer and accepts! She logs into her hiring portal to see information about orientation and complete the relevant paperwork. 
                     </time> Candidate
                    </div>
                  </li>
                </ul>
              </section>

<!-- Accessibility -->
     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h4> ACCESSIBILITY </h4>
                    <div class="row">
                        <div class="col-md-6 col-sm-12" id="problem-text">
                        This is the dilemma some candidates with disabilities face. Imagine trying to convince a company to hire you, while simultaneously asking them for a favor. 
                         <br/><br/>


            These "favors" aren't really favors though. They are  accommodations. <span> Accommodations can be anything a person with a disability might need to complete a task. </span> An American Sign Language interpreter might be an accommodation for a Deaf person during an in person meeting. A #2 pencil could be an accomodation for a person who has difficulty typing on a keyboard. <br/><br/>

            <span>The Americans with Disabilities Act requires companies to provide "reasonable" accommodations to candidates during the hiring process.</span> However, asking for an accommodation can be easier said than done, especially because candidates with disabilities feel it could open them up to bias during the hiring process. <br/> <br/>

            This project is a look into the current hiring process for people with disabilities and <span>how to improve the experience of requesting an accommodation, so candidates with disabilities can thrive.</span> 

                                    </div>
                      <div class="col-md-6 col-sm-12">
                       <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                     </div>


                    </div>
            </div>
        </div>
     </div>


<!-- Error Recovery -->
     <div class="row">
         <div class="col-12">
            <div id="sub-section">
                    <h4> ERROR RECOVERY </h4>
                    <div class="row">

                       <div class="col-md-6 col-sm-12">
                       <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                     </div>



                        <div class="col-md-6 col-sm-12" id="problem-text">
                        This is the dilemma some candidates with disabilities face. Imagine trying to convince a company to hire you, while simultaneously asking them for a favor. 
                         <br/><br/>


            These "favors" aren't really favors though. They are  accommodations. <span> Accommodations can be anything a person with a disability might need to complete a task. </span> An American Sign Language interpreter might be an accommodation for a Deaf person during an in person meeting. A #2 pencil could be an accomodation for a person who has difficulty typing on a keyboard. <br/><br/>

            <span>The Americans with Disabilities Act requires companies to provide "reasonable" accommodations to candidates during the hiring process.</span> However, asking for an accommodation can be easier said than done, especially because candidates with disabilities feel it could open them up to bias during the hiring process. <br/> <br/>

            This project is a look into the current hiring process for people with disabilities and <span>how to improve the experience of requesting an accommodation, so candidates with disabilities can thrive.</span> 

                                    </div>

                    </div>
            </div>
        </div>
     </div>


<!-- State Based Accommodations -->
     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h4> State Based Information </h4>
                    <div class="row">
                        <div class="col-md-6 col-sm-12" id="problem-text">
                        This is the dilemma some candidates with disabilities face. Imagine trying to convince a company to hire you, while simultaneously asking them for a favor. 
                         <br/><br/>


            These "favors" aren't really favors though. They are  accommodations. <span> Accommodations can be anything a person with a disability might need to complete a task. </span> An American Sign Language interpreter might be an accommodation for a Deaf person during an in person meeting. A #2 pencil could be an accomodation for a person who has difficulty typing on a keyboard. <br/><br/>

            <span>The Americans with Disabilities Act requires companies to provide "reasonable" accommodations to candidates during the hiring process.</span> However, asking for an accommodation can be easier said than done, especially because candidates with disabilities feel it could open them up to bias during the hiring process. <br/> <br/>

            This project is a look into the current hiring process for people with disabilities and <span>how to improve the experience of requesting an accommodation, so candidates with disabilities can thrive.</span> 

                                    </div>
                      <div class="col-md-6 col-sm-12">
                       <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                     </div>


                    </div>
            </div>
        </div>
     </div>


    <div class="container">


    <!-- Portfolio -->
    <div id="blog_page">


    </div><!-- End main page -->
    </div><!-- end container -->
    {% include "footer.html" %}
  </body>
</html>
