<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Introducing B READY</title>

  <!--JS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" /></script>

    <script src="{{ url_for('static', filename='js/story.js') }}"></script>


  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

  <body id="main">
    <!--<div id="for_testing"></div>-->
{% include "header.html" %}
    <!-- Header -->

 <div id="page_title">
    <div class="row">
      <div id="heading" class="col-lg-7 col-sm-11">
        B READY: A system to help candidates with disabilities and recruiters feel more confident about accommodations.
  </div>
  <div class="col-6">
</div>
</div>
  </div>

<!-- section1 -->
     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h1> THE PRODUCT </h1>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12" id="problem-text">

            B READY is a web app with an interface for candidates, and Recruiting Coordinators.  <br/><br/>

            The candidate side contains key information about the tasks, tool and environment involved with the current interview stage of the applicant. Candidates are also able to navigate 360 street-view style photospheres to get a sense of the environment if relevant. Finally, the candidate view includes a menu of accessibility accommodation options which candidates can open and select. <br/> <br/>

            The Recruiting side contains step by step directions and controls for implementing accessibility accommodations. There is also space in the Recruiting side of the tool for communicating to candidates, Employee Relations, and hiring teams. <br/><br/>

            The following story demonstrates how the two sides work together.

                                    </div>
                    </div>
            </div>
        </div>
     </div>

              <section class="timeline">
                <ul>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">

                      <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>

                      <time>Marco is an Engineering recruiter. He posts a new role for a college graduate software engineer.</time> Recruiter


                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">

                      <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>

                      <time>Maria gets a phone interview for the software engineer role! She checks out the B READY where she can see more information and prepare.</time> Candidate

                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">

                       <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>

                      <time> After the phone interview, Marco hears back and Maria has done well. He invites her to an onsite interview. 
                     </time> Recruiter 
                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      
                       <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                      
                      <time> Maria can now log into B READY and see information about her onsite interview. Based on the information there, she decides to  request two accommodations. 
                     </time> Candidate 

                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      
                      <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                      
                      <time> Marco receives Maria’s accommodation requests and is able to quickly and confidently respond to them.
                     </time> Recruiter

                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                     
                      <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                      
                      <time> Maria gets confirmation from Marco before her onsite interview that everything will be in place. 
                     </time> Candidate 


                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                     
                      <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                      
                      <time> The day of Maria's interview, Marco checks that everything is in place.
                     </time> Recruiter

                    </div>
                  </li>
                  </li>
                  <li id="last-child">
                    <div class = "animatable fadeInDown animationDelay">
                    
                      <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                      
                      <time> Maria gets an offer and accepts! She logs into B READY to see information about orientation and complete the relevant paperwork. 
                     </time> Candidate
                    </div>
                  </li>
                </ul>
              </section>

<!-- Accessibility -->
     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h1> ACCESSIBILITY </h1>
                    <div class="row">
                        <div class="col-md-6 col-sm-12" id="problem-text">
                        People with physical disabilities are integral users of B READY;  therefore, we focused on making the app as digitally accessible as possible.   
                         <br/><br/>


            For people with mobility impairments we have included keyboard navigation. Elements throughout the page can be traversed using the tab, enter, and arrow keys.  <br/><br/>

            For people with visual impairments we have designed and structured the app so it can be read with a screen reader and included alternate content for any featured images.  <br/><br/>

            We've also considered other elements of web accessibility, using the IBM heuristics listed <a href="https://usabilitynews.bcs.org/content/conWebDoc/45729"> here https://usabilitynews.bcs.org/content/conWebDoc/45729</a> including ensuring appropriate color contrast and not relying solely on color as an indicator within the design.
            

                                    </div>
                      <div class="col-md-6 col-sm-12">
                       <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                     </div>


                    </div>
            </div>
        </div>
     </div>


<!-- Error Recovery -->
     <div class="row">
         <div class="col-12">
            <div id="sub-section">
                    <h1> INDOOR STREET VIEW </h1>
                    <div class="row">

                       <div class="col-md-6 col-sm-12">
                       <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                     </div>



                        <div class="col-md-6 col-sm-12" id="problem-text">
                        When designing something that would help people with disabilities evaluate whether or not they need accommodations, it was critical we provide as much information as possible.
                         <br/><br/>

                        Our way of providing maximum detail is by including an “Indoor Street View” experience. For people with disabilities the difference between three flights of stairs and three stairs can be critical. We knew we could never list out all of that kind of detail in text, and through testing with users, settled on immersive photo spheres that the user can move through on their own terms as the best way to communicate important spatial information.<br/><br/>

                        These 360 degree photo spheres allow the user to navigate through internal spaces, and identify any potential features of the physical space that they might have questions about, instead of relying on someone else’s interpretation of what accessible might mean.

                                    </div>

                    </div>
            </div>
        </div>
     </div>


<!-- State Based Accommodations -->
     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h1> ERROR RECOVERY </h1>
                    <div class="row">
                        <div class="col-md-6 col-sm-12" id="problem-text">
                        Errors in any system can be bad, but from our research, errors can be especially be detrimental to a candidate's experience. Additionally, if a company can help a user recover from an error successfully that can actually build more trust than if everything worked perfectly in the first place.  
                         <br/><br/>


            Therefore we have built in three key error recovery systems:<br/><br/>

            First, if a recruiter forgets to input any information, the candidate will still see basic information taken from the current email and PDF template.<br/> <br/>

           Second, if a recruiter forgets to respond to a request, then the request will automatically file tickets once the candidate is 48 hours away from their interview.<br/> <br/>

           Last, if the candidate has any questions or isn't sure about something, they will always have an option in the interface to have a conversation about their needs with their recruiter.

                                    </div>
                      <div class="col-md-6 col-sm-12">
                       <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                     </div>


                    </div>
            </div>
        </div>
     </div>



     <!-- Immersive View -->
     <div class="row">
         <div class="col-12">
            <div id="sub-section">
                    <h1> EFFICIENT INTEGRATION </h1>
                    <div class="row">

                       <div class="col-md-6 col-sm-12">
                       <img id="demo-pic" src="{{ url_for('static', filename='assets/images/UI.gif') }}" alt="Placeholder image"/>
                     </div>



                        <div class="col-md-6 col-sm-12" id="problem-text">
                        Recruiting coordinators can be busy people. Our system is focused on making sure these coordinators can get what they need to get done quickly, and confidently. Therefore recruiters can take advantage of three key time saving features: 
                         <br/><br/>


            Ticketing integration: The system is designed to plug into existing ticketing software, which keeps track of tasks within the company across teams. For example, a coordinator can file a ticket for an ergonomic mouse, right from the B READY interface.  <br/><br/>

            Email integration: B READY plugs into recruiting coordinators’ preferred email system, providing pre-populated email templates with sample messaging that they can review, edit and send without having to leave the tool.  <br/> <br/>

            Calendar integration: Providing accommodation options to candidates only works if these accommodation requests get fulfilled! By syncing functionality between B READY and recruiter calendar systems we can create timely reminders to ensure things get done. 

                                    </div>

                    </div>
            </div>
        </div>
     </div>


    <div class="container">


    <!-- Portfolio -->
    <div id="blog_page">


    </div><!-- End main page -->
    </div><!-- end container -->
    {% include "footer.html" %}
  </body>
</html>
