<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Team Bloomberg</title>

  <!--JS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" /></script>

    <script src="{{ url_for('static', filename='js/story.js') }}"></script>


  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

  <body id="main">
    <!--<div id="for_testing"></div>-->
{% include "header.html" %}
    <!-- Header -->

 <div id="page_title">
    <div class="row">
      <div id="heading" class="col-lg-7 col-sm-11">
    How do you ask a company for something, while trying to convince them to hire you?
  </div>
  <div class="col-6">
</div>
</div>
  </div>

<!-- section1 -->
     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h4> THE PROBLEM </h4>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12" id="problem-text">
                        This is the dilemma some candidates with disabilities face. Imagine trying to convince a company to hire you, while simultaneously asking them for a favor. 
                         <br/><br/>


            These "favors" aren't really favors though. They are  accommodations. <span> Accommodations can be anything a person with a disability might need to complete a task. </span> An American Sign Language interpreter might be an accommodation for a Deaf person during an in person meeting. A #2 pencil could be an accomodation for a person who has difficulty typing on a keyboard. <br/><br/>

            <span>The Americans with Disabilities Act requires companies to provide "reasonable" accommodations to candidates during the hiring process.</span> However, asking for an accommodation can be easier said than done, especially because candidates with disabilities feel it could open them up to bias during the hiring process. <br/> <br/>

            This project is a look into the current hiring process for people with disabilities and <span>how to improve the experience of requesting an accommodation, so candidates with disabilities can thrive.</span> 

                                    </div>
                    </div>
            </div>
        </div>
     </div>


                  <section class="intro">
                  <h1>Vertical Timeline &darr;</h1>
              </section>

              <section class="timeline">
                <ul>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      <time>1934</time> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      <time>1937</time> Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.
                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      <time>1940</time> Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.
                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      <time>1943</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      <time>1946</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      <time>1956</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      <time>1957</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      <time>1967</time> Aenean condimentum odio a bibendum rhoncus. Ut mauris felis, volutpat eget porta faucibus, euismod quis ante.
                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      <time>1977</time> Vestibulum porttitor lorem sed pharetra dignissim. Nulla maximus, dui a tristique iaculis, quam dolor convallis enim, non dignissim ligula ipsum a turpis.
                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      <time>1985</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      <time>2000</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
                    </div>
                  </li>
                  <li>
                    <div class = "animatable fadeInDown animationDelay">
                      <time>2005</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
                    </div>
                  </li>
                </ul>
              </section>





    <div class="container">


    <!-- Portfolio -->
    <div id="blog_page">


    </div><!-- End main page -->
    </div><!-- end container -->
    {% include "footer.html" %}
  </body>
</html>
