<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Page title</title>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/story.js') }}"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

  </head>

  <body id="main">
    <!--<div id="for_testing"></div>-->
{% include "header.html" %}
 <div id="page_title">
    <div class="row">
      <div class="col-lg-8 col-sm-12">
    How do you share personal, private information with a massive company?  
  </div>
  <div class="col-6">
</div>
</div>
  </div>

     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h4> TEAM </h4>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                        Place holder text
                        </div>
                    </div> 
            </div>
        </div>
     </div>


<!-- pop out boxes -->
 <div class="row">
         <div class="col-12">


				<div class='ui'>
				  <div class='ui_box' class="col-lg-3 col-sm-12">
				    <div class='ui_box__inner'>
				    	<div class="col-lg-4 col-sm-12">
				      <div class='stat'>
				        <span>19%</span>
				      </div>
				      <div class='progress'>
				        <div class='progress_bar'></div>
				      </div>
				      <p>Percentage of the U.S. Population with a disability</p>
				    </div>
				  </div>
				</div>


				  <div class='ui_box'>
				    <div class='ui_box__inner'>
				    	<div class="col-lg-4 col-sm-12">
				      <div class='stat_left'>
				        <ul>
				          <li>
				            Electical
				          </li>
				          <li>
				            Clothing
				          </li>
				          <li>
				            Entertainment
				          </li>
				          <li>
				            Kitchen
				          </li>
				        </ul>
				      </div>
				      <div class='progress_graph'>
				        <div class='progress_graph__bar--1'></div>
				        <div class='progress_graph__bar--2'></div>
				        <div class='progress_graph__bar--3'></div>
				        <div class='progress_graph__bar--4'></div>
				      </div>
				      <p>Lorem ipsum dolor sit amet. Some more super groovy information.</p>
				    </div>
				  </div>
				</div>



				  
				  <div class='ui_box'>
				    <div class='ui_box__inner'>
				    	<div class="col-lg-3 col-sm-12">
				      <h2>
				        Total Sales
				      </h2>
				      <p>Lorem ipsum dolor sit amet</p>
				      <div class='stat'>
				        <span>$34,403.93</span>
				      </div>
				      <div class='progress'>
				        <div class='progress_bar--two'></div>
				      </div>
				      <p>Lorem ipsum dolor sit amet. Some more super groovy information about this stat.</p>
				    </div>
				  </div>
				</div>
				</div>
		</div>
	</div>










    <!-- Header -->
    <div class="container">


    <!-- Portfolio -->
    <div id="main_page">





    </div><!-- End main page -->
    </div><!-- end container -->
    {% include "footer.html" %}
  </body>
</html>
