<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Team Bloomberg</title>

    <!-- JS -->

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" /></script>

    <script src="{{ url_for('static', filename='js/story.js') }}"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">


</head>

  <body id="main">
    <!--<div id="for_testing"></div>-->
{% include "header.html" %}
 <div id="page_title">
    <div class="row">
      <div id="heading" class="col-lg-7 col-sm-11">
    How do you ask for something from a company, before they have even hired you?
  </div>
  <div class="col-6">
</div>
</div>
  </div>

<!-- section1 -->
     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h4> THE PROBLEM </h4>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                        This is the problem some candidates with disabilities face. Imagine trying to convince a company to hire you, whilst simultaneously asking them for a favor. 
                         <br/><br/>


						These "favors" aren't really favors though. They are called accommodations, defined as something a person with a disability might need to complete a task. An American Sign Language interpreter might be an accommodation for a Deaf person. A #2 pencil could be an accomodation for a person who has difficulty typing on a keyboard. Companies are legally required to provide "reasonable" accommodations to candidates during the hiring process and once they are offered a job. <br/> <br/>

						                        </div>
                    </div>
            </div>
        </div>
     </div>


<!-- pop out boxes -->

	<div class='ui'>
 		<div class="row" id="pop-out-section">


				<div class="col-lg-4 col-sm-12">

				  <div class='ui_box'>
				    <div class='ui_box__inner'>
				      <div class='stat'>
				        <span>19%</span>
				      </div>
				      <div class='progress'>
				        <div class='progress_bar'></div>
				      </div>
				      <p>Percentage of the U.S. Population with a disability. <br/>This number is expected to climb to xx by 2020.</p>
				  </div>
				</div>
				</div>

				  <div class="col-lg-4 col-sm-12">

				  <div class='ui_box'>
				    <div class='ui_box__inner'>
				      <div class='stat'>
				        <span>20.9%</span>
				      </div>
				      <div class='progress'>
				        <div class='progress_bar_2'></div>
				      </div>
				      <p>The percentage of people with disabilities who participate in the U.S. Labor Force.<br/> This contrasts with 68.3% of people without disabilities.</p>
				  </div>
				</div>
				</div>

				

				<div class="col-lg-4 col-sm-12">

				  <div class='ui_box'>
				    <div class='ui_box__inner'>
				      <div class='stat'>
				        <span>8.0%</span>
				      </div>
				      <div class='progress'>
				        <div class='progress_bar_3'></div>
				      </div>
				      <p>The unemployment rate for people with disabilities.<br/> This contrasts with 3.5% of people without disabilities.</p>
				  </div>
				</div>
				</div>

				</div>
	</div>



<!-- section2 -->
     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h4> THE PROMPT </h4>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                        Bloomberg is a global, financial media and technology company, dedicated to creating the most inclusive work environment possible. In the Spring and Summer of 2018, they approached our team, to understand how they could make hiring and onboarding more inclusive for people with disabilities.
                    </div>

                        <div class="col-lg-8 col-sm-12">
                        	<ul>
                        		<li>19K Employees</li>
                        		<li>192 Offices</li>
                        		<li>325K Subscribers</li>
                        		<li>$9Bn Revenue</li>

                        		</ul>

                        </div>



                        </div>
                    </div>
            </div>
        </div>
     </div>


<!-- quote -->

<div id="sub-section">
		     <div class="row">
   
			<div class ="col-lg-12 col-sm12">
		<div class="block animatable fadeInDown animationDelayMed" id="heading2">"If your disability is obvious then no one wants to bring it up. It is a huge elephant in the room. The employer can't ask, but they are wondering if the person can do the job. Meanwhile, the person [with a disability] is scared to bring it up.
"</div>
		</div>
	</div>
   	</div>


<!-- section3 -->
     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h4> TEAM </h4>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
						But asking for an accommodation can be easier said than done, even if you need something that will help you perform in the interview. 
                        </div>
                    </div>
            </div>
        </div>
     </div>


<!-- see-saw -->
<div class="row" id ="sub-section">
         <div class="col-md-5 col-sm-12">
			  <div class="main">
			    <div class="ball" id="ball1"> </div>
			    <div class="ball" id="ball2"> </div>
			    <div id="seesaw">
			      <div id="pivot"></div>
			      <div id="board"></div>
			    </div>
			  </div>
			</div>

         <div class="col-md-7 col-sm-12">
         	<div class = "row"> This is a test </div>
			  
         	<div class = "row" id="balls"> 

			         	<div class="ball-solid" id="ball3"> Visibility</div>
						    <div class="ball-solid" id="ball4"> Necessity
						</div>
						<div class="ball-solid" id="ball5"> Trust
						</div>
						<div class="ball-solid" id="ball6"> Personality
						</div>
						<div class="ball-solid" id="ball8"> Age
						</div>
					</div>

					 <div class="row" >
        <div class="col-lg-12 col-sm-12">
		    <div class="block animatable fadeInDown animationDelayMed" id="heading2">"I spent 30 minutes trying to decide if I should disclose my disability or not. Did I want to be in pain, or did I want to be seen as old?"</div>
		</div>

			</div>

         	</div>
         </div>

		</div>


<!-- section4 -->
     <div class="row">
         <div class="col-12">
            <div id="subhead">
                    <h4> TEAM </h4>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                        Place holder text
                        </div>
                    </div>
            </div>
        </div>
     </div>




<!-- post it notes -->


<div class="row" id ="sub-section">
         <div class="col-md-3 col-sm-12">

								  <div class=form>
								    <div class=textAria>
								      <b>Add Your Own Idea</b>
								    </div>
									</div>
									</div>

		<div class="col-md-3 col-sm-12">

			
								  <div class=form>
								    <div class=textAria>
								      <b>Add Your Own Idea</b>
								    </div>
									</div>
					</div>


<div class="col-md-3 col-sm-12">

								  <div class=form>
								    <div class=textAria>
								      <b>Add Your Own Idea</b>
								    </div>
									</div>
								
					</div>

					<div class="col-md-3 col-sm-12">


								  <div class=form>
								    <div contenteditable class=textAria>
								      <b>Add Your Own Idea</b>
								    </div>
									</div>
							
					</div>


			</div>


		</div>







    <!-- Header -->
    <div class="container">



    <!-- Portfolio -->
    <div id="main_page">





    </div><!-- End main page -->
    </div><!-- end container -->
    {% include "footer.html" %}
  </body>
</html>
