<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Team Bloomberg</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

  <body id="main_page">
    <!--<div id="for_testing"></div>-->
{% include "header.html" %}
 <div id="page_title">
   <div id="heading" class="row">
     <div class="col-7">
     We are a cross-discliplinary team with backgrounds in education, computer science, journalism, and design.
 </div>
</div>
</div>

<div id ="team_first_row" class="row">
  <div class="col-4">
    <h3>Team</h3>
      <p>We are a team of five HCI Master's students at Carnegie Mellon University with a diverse set of backgrounds. While this is our first foray into researching and designing for accessibility, we are all passionate about creating more equitable, accessible experiences with the help of technology.</p>
    </div>
    <div class="col-1"></div>
    <div class="col-7">
      <img id="team_photo" src="{{ url_for('static', filename='assets/images/placeholder.png') }}" alt="Placeholder image"/>
    </div>
</div>

<div class="row">
  <div class="col-3">
    <h1 class="team_member">Aaron<br/>Faucher</h1>
  </div>
  <div class="col-1"></div>
  <div class="col-5">
    <h2>I came to CMU from San Francisco, where I was working as a freelance interaction designer and developer for several AR/VR startups.</h2>
    <p>I’m passionate about the ways emerging technologies can improve well-being. Prior to my design career, I had previous lives as an audio engineer and high school teacher.</p>
  </div>
  <div class="col-1"></div>
  <div class="col-1">

    <h4>Links</h4>
    <a class="team_links" href="https://www.linkedin.com/in/aaronfaucher">LinkedIn</a> <br/>
    <a class="team_links" href="http://afaucher.me/">Portfolio</a> <br/>
    <a class="team_links" href="https://github.com/afauch">GitHub</a> <br/>
  </div>
</div>
<div class="col-1"></div>

<div class="row">
  <div class="col-3">
    <h1 class="team_member">Jinping<br/>Liu</h1>
  </div>
  <div class="col-1"></div>
  <div class="col-5">
    <h2>I am a UX designer with 3 years of experience working at companies like Nokia and Tencent.</h2>
    <p>Before MHCI, I had another master degree in industrial design in Finland. Years of working and living there had added a Nordic touch to my design style. Besides that, I am a good cook and travel lover.</p>
  </div>
  <div class="col-1"></div>
  <div class="col-1">
    <h4>Links</h4>
    <a class="team_links" href="https://www.linkedin.com/in/aaronfaucher">LinkedIn</a> <br/>
    <a class="team_links" href="http://afaucher.me/">Portfolio</a> <br/>
    <a class="team_links" href="https://github.com/afauch">GitHub</a> <br/>
  </div>
</div>
<div class="col-1"></div>

<div class="row">
  <div class="col-3">
    <h1 class="team_member">Likang<br/>Sun</h1>
  </div>
  <div class="col-1"></div>
  <div class="col-5">
    <h2>I have a Master’s Degree in Education from Stanford University and have been a public school teacher for 5 years in California.</h2>
    <p>I’m passionate about the ways emerging technologies can improve well-being. Prior to my design career, I had previous lives as an audio engineer and high school teacher.</p>
  </div>
  <div class="col-1"></div>
  <div class="col-1">
    <h4>Links</h4>
    <a class="team_links" href="https://www.linkedin.com/">LinkedIn</a> <br/>
    <a class="team_links" href="http://aubriewoods.com/">Portfolio</a> <br/>
    <a class="team_links" href="https://github.com/">GitHub</a> <br/>
  </div>
</div>
<div class="col-1"></div>

<div class="row">
  <div class="col-3">
    <h1 class="team_member">Asha<br/>Toulmin</h1>
  </div>
  <div class="col-1"></div>
  <div class="col-5">
    <h2>Prior to the MHCI program I spent six years at Google working on business strategy, sales, operations as well as hiring and diversity and inclusion.</h2>
    <p>I was originally born in London, but raised in the U.S., retaining a love of tea and British murder mysteries.</p>
  </div>
  <div class="col-1"></div>
  <div class="col-1">

    <h4>Links</h4>
    <a class="team_links" href="https://www.linkedin.com/">LinkedIn</a> <br/>
    <a class="team_links" href="http://aubriewoods.com/">Portfolio</a> <br/>
    <a class="team_links" href="https://github.com/">GitHub</a> <br/>
  </div>
</div>
<div class="col-1"></div>

<div class="row">
  <div class="col-3">
    <h1 class="team_member">Aubrie<br/>Woods</h1>
  </div>
  <div class="col-1"></div>
  <div class="col-5">
    <h2>I am a software engineer, UX designer, and researcher currently working for Carnegie Mellon’s Software Engineering Institute.</h2>
    <p>Originally from San Francisco, I received my Master’s degree in Computer Science (Artificial Intelligence) from Stanford University before joining the MHCI program. I love to travel, and am thrilled to be relocating to New York this summer.</p>
  </div>
  <div class="col-1"></div>
  <div class="col-1">

    <h4>Links</h4>
    <a class="team_links" href="https://www.linkedin.com/">LinkedIn</a> <br/>
    <a class="team_links" href="http://aubriewoods.com/">Portfolio</a> <br/>
    <a class="team_links" href="https://github.com/">GitHub</a> <br/>
  </div>
</div>
<div class="col-1"></div>
    {% include "footer.html" %}
  </body>
</html>
